//go:generate mockgen -source=$$GOFILE -destination=mock/$$GOFILE -package=mock
package inputport

import (
	"context"
)

type HealthInteractorInputPort interface {
	Health(ctx context.Context) error
}
