package main

import (
	"${module}/internal/config"
	"${module}/internal/infrastructure"
	"${module}/internal/log"

	"github.com/labstack/echo/v4"
)

func main() {
	zapCfg := config.LoadZapConfig()
	logger.Init(zapCfg)
	defer logger.Sync()

	dbCfg := config.LoadDbConfig()
	db := infrastructure.Connection(dbCfg)

	// Create an Echo instance
	e := echo.New()
	e.Use(logger.MiddlewareLogger(logger.Get()))
	infrastructure.Router(e, db)

	// Start the server
	logger.Info("starting server")
	e.Logger.Fatal(e.Start(":8080"))
}
