package infrastructure

import (
	"${module}/internal/controller"
	"${module}/internal/domain/interactor"
	"${module}/internal/domain/repository"

	"github.com/labstack/echo/v4"
	"gorm.io/gorm"
)

func Router(e *echo.Echo, db *gorm.DB) {
}
